h5py=3.11.0
matplotlib=3.8.4
nimfa=1.4.0
numpy=1.26.4
pyroved=0.3.0
scikit-image=0.23.2
scikit-learn=1.4.2
scipy=1.13.0
torch=2.3.0
torchvision=0.18.0
ipython=7.23.1,
ipyipykernel=6.29.4,
ipywidgets=8.1.2
jupyter_client=8.6.1
jupyter_core=5.7.2
jupyter_server=2.14.0
jupyterlab=4.1.8
nbclient=0.10.0
nbconvert=7.16.4
nbformat=5.10.4
notebook=5.7.10
qtconsole=not installed
traitlets=5.14.3